{{#each this}}
<li class="card" style="background-image: linear-gradient(
    rgba(5, 5, 5, 0.6),
    rgba(5, 5, 5, 0)
    ),
    url({{preview}});">
    <div class="card-info">
        <svg class="heart-svg" width="22" height="22">
            <use href="/src/images/svg-sprite.svg#card-heart"></use>
        </svg>
        <div class="xzxzxz"> 
            <h2 class="card-title">{{title}}</h2>
            <p class="card-text">{{description}}</p>
            <div class="rating-and-btn">
                <div class="rating-section">
                    <p class="rating">{{rating}}</p>
                    <div class="stars-icons">
                        <svg class="star-svg" width="18" height="18">
                            <use href="/src/images/svg-sprite.svg#card-heart"></use>
                        </svg>
            
                        <svg class="star-svg" width="18" height="18">
                            <use href="/src/images/svg-sprite.svg#card-heart"></use>
                        </svg>
            
                        <svg class="star-svg" width="18" height="18">
                            <use href="/src/images/svg-sprite.svg#card-heart"></use>
                        </svg>
            
                        <svg class="star-svg" width="18" height="18">
                            <use href="/src/images/svg-sprite.svg#card-heart"></use>
                        </svg>
            
                        <svg class="star-svg" width="18" height="18">
                            <use href="/src/images/svg-sprite.svg#card-heart"></use>
                        </svg>
                    </div>
            
                </div>
                <button class="see-recipe-btn" data-id="{{_id}}">See recipe</button>
            </div>
        </div>
    <svg class="heart-svg" width="22" height="22">
          <use href="/src/images/svg-sprite.svg#card-heart"></use>
    </svg>
    <h2 class="card-title">{{title}}</h2>
    <p class="card-text">{{description}}</p>
    <div class="rating-and-btn">
        <p class="rating">{{rating}}</p>
        <button class="see-recipe-btn" data-id="{{_id}}">See recipe</button>
    </div>
</li>
{{/each}}