{{#each this}}
<li class="card" style="background-image: linear-gradient(
    rgba(5, 5, 5, 0.6),
    rgba(5, 5, 5, 0)
    ),
    url({{preview}});">
    <div class="card-info">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none" class="heart-svg">
            <path stroke="#F8F8F8" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M19.103 4.226a5.042 5.042 0 0 0-7.132 0L11 5.197l-.972-.971a5.043 5.043 0 1 0-7.132 7.131l.972.972L11 19.461l7.131-7.132.972-.972a5.042 5.042 0 0 0 0-7.131v0Z"
                opacity=".5" />
        </svg>
        <div class="xzxzxz"> 
            <h2 class="card-title">{{title}}</h2>
            <p class="card-text">{{description}}</p>
            <div class="rating-and-btn">
                <div class="rating-section">
                    <p class="rating">{{rating}}</p>
                    <div class="stars-icons">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" class="star-svg">
                            <path 
                                d="M6.049 1.427c.3-.921 1.603-.921 1.902 0l.845 2.6a1 1 0 0 0 .951.692h2.735c.969 0 1.371 1.24.588 1.809l-2.213 1.607a1 1 0 0 0-.363 1.118l.845 2.601c.3.921-.755 1.688-1.539 1.118l-2.212-1.607a1 1 0 0 0-1.176 0L4.2 12.972c-.784.57-1.838-.197-1.539-1.118l.845-2.6a1 1 0 0 0-.363-1.119L.93 6.528c-.783-.57-.38-1.81.588-1.81h2.735a1 1 0 0 0 .95-.69l.846-2.6Z" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" class="star-svg">
                            <path 
                                d="M6.049 1.427c.3-.921 1.603-.921 1.902 0l.845 2.6a1 1 0 0 0 .951.692h2.735c.969 0 1.371 1.24.588 1.809l-2.213 1.607a1 1 0 0 0-.363 1.118l.845 2.601c.3.921-.755 1.688-1.539 1.118l-2.212-1.607a1 1 0 0 0-1.176 0L4.2 12.972c-.784.57-1.838-.197-1.539-1.118l.845-2.6a1 1 0 0 0-.363-1.119L.93 6.528c-.783-.57-.38-1.81.588-1.81h2.735a1 1 0 0 0 .95-.69l.846-2.6Z" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" class="star-svg">
                            <path 
                                d="M6.049 1.427c.3-.921 1.603-.921 1.902 0l.845 2.6a1 1 0 0 0 .951.692h2.735c.969 0 1.371 1.24.588 1.809l-2.213 1.607a1 1 0 0 0-.363 1.118l.845 2.601c.3.921-.755 1.688-1.539 1.118l-2.212-1.607a1 1 0 0 0-1.176 0L4.2 12.972c-.784.57-1.838-.197-1.539-1.118l.845-2.6a1 1 0 0 0-.363-1.119L.93 6.528c-.783-.57-.38-1.81.588-1.81h2.735a1 1 0 0 0 .95-.69l.846-2.6Z" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" class="star-svg">
                            <path 
                                d="M6.049 1.427c.3-.921 1.603-.921 1.902 0l.845 2.6a1 1 0 0 0 .951.692h2.735c.969 0 1.371 1.24.588 1.809l-2.213 1.607a1 1 0 0 0-.363 1.118l.845 2.601c.3.921-.755 1.688-1.539 1.118l-2.212-1.607a1 1 0 0 0-1.176 0L4.2 12.972c-.784.57-1.838-.197-1.539-1.118l.845-2.6a1 1 0 0 0-.363-1.119L.93 6.528c-.783-.57-.38-1.81.588-1.81h2.735a1 1 0 0 0 .95-.69l.846-2.6Z" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" class="star-svg">
                            <path 
                                d="M6.049 1.427c.3-.921 1.603-.921 1.902 0l.845 2.6a1 1 0 0 0 .951.692h2.735c.969 0 1.371 1.24.588 1.809l-2.213 1.607a1 1 0 0 0-.363 1.118l.845 2.601c.3.921-.755 1.688-1.539 1.118l-2.212-1.607a1 1 0 0 0-1.176 0L4.2 12.972c-.784.57-1.838-.197-1.539-1.118l.845-2.6a1 1 0 0 0-.363-1.119L.93 6.528c-.783-.57-.38-1.81.588-1.81h2.735a1 1 0 0 0 .95-.69l.846-2.6Z" />
                        </svg>
                    </div>
            
                </div>
                <button class="see-recipe-btn" data-id="{{_id}}">See recipe</button>
            </div>
        </div>
    </div>
</li>
{{/each}}